{% set no_sidebar = nosidebar ? nosidebar : false %}

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="padding: 5px 5px 5px 0">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ path('app_index') }}">SupMarket</a>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <!-- Top Navigation: Right Menu -->
    <ul class="nav navbar-right navbar-top-links">

        {% if app.user %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> {{ app.user.username }} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="{{ path('app_profile') }}"><i class="fa fa-user fa-fw"></i> Profil</a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="{{ path('app_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
                    </li>
                </ul>
            </li>
        {% else %}
            <li class="dropdown">
                <a href="{{ path('app_register') }}">Inscription</a>
            </li>
            <li class="dropdown">
                <a href="{{ path('app_login') }}">Connexion</a>
            </li>
        {% endif %}

    </ul>

    <!-- Sidebar Navigation -->
    {% if not no_sidebar %}
    {{ include('helpers/navbar/_sidebar.html.twig') }}
    {% endif %}
</nav>