<!-- Sidebar -->
{% if app.user %}
<div class="navbar-default sidebar" role="navigation" style="margin-top: 56px">
    <div class="sidebar-nav navbar-collapse">

        <ul class="nav" id="side-menu">
            <!-- Accueil -->
            <li>
                <a href="{{ path('app_index') }}">{{ include('helpers/icon/_fa.html.twig', {'icon': 'dashboard'}) }} Accueil</a>
            </li>

            <!-- Produits -->
            <li>
                <a href="{{ path('app_product') }}">{{ include('helpers/icon/_fa.html.twig', {'icon': 'shopping-basket'}) }} Produits</a>
            </li>

            <!-- Catégories de produits -->
            <li>
                <a href="{{ path('app_product_category') }}">{{ include('helpers/icon/_fa.html.twig', {'icon': 'folder-open'}) }} Catégories de produits</a>
            </li>

            <!-- Commandes -->
            <li>
                <a href="{{ path('app_order') }}">{{ include('helpers/icon/_fa.html.twig', {'icon': 'list'}) }} Liste de commandes</a>
            </li>

            <!-- Documentation API -->
            {{ include('helpers/navbar/_doc_api.html.twig') }}
        </ul>

    </div>
</div>
{% endif %}