{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {# Titre de la page #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Profil</h1>
        </div>
    </div>

    <div class="container">
        <h2><i class="fa fa-user fa-fw"></i> Informations utilisateur</h2>
        <hr />

        <p><b>Nom d'utilisateur :</b> {{ user.username }}</p>
        <p><b>Nom :</b> {{ user.name }}</p>
        <p><b>Prénom :</b> {{ user.firstName }}</p>
        <p><b>Email :</b> {{ user.email }}</p>
        <p><b>Date de naissance :</b> {{ user.birthDate | date('d/m/Y') }}</p>
        <p><b>Adresse :</b> {{ user.adresse }}</p>
        <p><b>Solde :</b> {{ user.account | replace({'.': ','}) }} €</p>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .container{
            width: 50%;
            border: 1px solid #ddd;
            border-radius: 10px;
            background-color: #F9F9FA;
            color: #413C49;
            margin-top: 30px;
            padding-bottom: 20px;
        }
    </style>
{% endblock %}