{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <h2><i class="fa fa-lock fa-fw"></i> Connexion sécurisée</h2>
        <hr />

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-group" style="margin-top: 20px">
                <label for="inputUsername">Nom d'utilisateur</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            </div>

            <div class="form-group">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
            <div class="form-group" style="margin-bottom: 20px; text-align: center">
                <button class="btn btn-lg" style="background-color: #ddd; color: #413C49" type="submit">
                    Se connecter
                </button>
            </div>

            <div class="form-group" style="margin-bottom: 20px; text-align: center">
                <a href="{{ path('request_password') }}">Mot de passe oublié ?</a>
            </div>
            
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .container{
            width: 50%;
            border: 1px solid #ddd;
            border-radius: 10px;
            background-color: #F9F9FA;
            color: #413C49;
            margin-top: 90px;
        }
    </style>
{% endblock %}
