{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <h2><i class="fas fa-clipboard"></i> &nbsp;&nbsp;Inscription</h2>
        <hr />

        {{ form_start(form) }}
            
            {{ form_row(form.name) }}
            {{ form_row(form.first_name) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.birth_date) }}
            {{ form_row(form.adresse) }}
            {{ form_row(form.plainPassword) }}

            <div class="form-group" style="margin-bottom: 20px">
                <button class="btn btn-lg d-flex justify-content-center" style="background-color: #dddd; color: black; margin: auto" type="submit">
                    S'inscrire
                </button>
            </div>

            <div class="form-group" style="margin-bottom: 20px">
                <span class="d-flex justify-content-center">
                    <a href="{{ path('app_login') }}">Déjà inscrit ? Connectez-vous</a>
                </span>
            </div>
        {{ form_end(form) }}
    </div>

    <style>
        .container{
            width: 50%;
            border: 1px solid #ddd;
            padding-top: 13px;
            border-radius: 10px;
            background-color: #F9F9FA;
            color: #413C49;
            margin-top: 90px;
            margin-bottom: 50px;
        }
    </style>
    
{% endblock %}

{% block javascripts %}
{% endblock %}
