{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    {#{ dump(form) }#}

    {# Titre de la page #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{% if mode == 'new' %}Ajout{% else %}Modification{% endif %} - Produits</h1>
        </div>
    </div>

    <div class="container">
        {{ form_start(form, {'method': 'POST', 'attr': {'novalidate': 'novalidate' }} ) }}

        {# ------------------------- #}
        {#      INFOS GÉNÉRALES      #}
        {# ------------------------- #}
        {% if mode == 'update' %}
        <div class="panel-heading" >
            <h4 class="panel-title" id="contact-panel-title">
                <a data-group data-toggle="collapse" href="#info">{{ include('helpers/icon/_fa.html.twig', {'icon': 'angle-double-down'}) }} Informations générales</a>
            </h4>
        </div>
        {% endif %}

        <div id="info" class="panel-collapse {% if mode == 'update' %}collapse{% endif %}">
            
            {{ include('helpers/form/_group.html.twig', {
                        'field': form['reference']
                    }) }}

            {{ include('helpers/form/_group.html.twig', {
                        'field': form['name']
                    }) }}

            {{ include('helpers/form/_group.html.twig', {
                        'field': form['category']
                    }) }}

            {{ include('helpers/form/_group.html.twig', {
                        'field': form['quantity']
                    }) }}

            {{ include('helpers/form/_group.html.twig', {
                        'field': form['price']
                    }) }}

            {{ include('helpers/form/_group.html.twig', {
                        'field': form['description']
                    }) }}
        </div>

        {# -------------------------------- #}
        {#      INFOS COMPLÉMENTAIRES       #}
        {# -------------------------------- #}
        
        {% if mode == 'update' %}
        <div class="panel-heading" >
            <h4 class="panel-title">
                <a data-group data-toggle="collapse" href="#info-compl">{{ include('helpers/icon/_fa.html.twig', {'icon': 'angle-double-down'}) }} Informations complémentaires</a>
            </h4>
        </div>
        <div id="info-compl" class="panel-collapse collapse table-responsive">
            <table class="table table-condensed fiche">
                <tbody>
                    <tr>
                        <td>Création</td>
                        <td>    
                            Créé le {{ product.createdAt | date("d-m-Y à H:i:s") }}
                            {{ product.createdBy?'par ' ~ product.createdBy.username }}
                        </td>  
                    </tr>
                    <tr>
                        <td>Modification</td>
                        <td>    
                            Modifié le {{ product.updatedAt | date("d-m-Y à H:i:s") }}
                            {{ product.updatedBy?'par ' ~ product.updatedBy.username }}
                        </td>  
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}

        <div class="row">
            {% if not form.vars.valid %}
            <div class="col-md-8 error">
                {{ include('helpers/icon/_fa.html.twig', {'icon': 'exclamation-triangle'}) }} 
                Le formulaire contient des erreurs. Vérifiez les différentes rubriques.
            </div>
            {% else %}
                <div class="col-md-8"></div>
            {% endif %} 
            <div class="col-md-4 text-right">
                {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-info'} }) }}
            </div>
        </div>

        {{ form_widget(form) }}

        {{ form_end(form) }}

    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .container{
            width: 100%;
            border: 1px solid #ddd;
            padding-top: 13px;
            border-radius: 10px;
            background-color: #F9F9FA;
            color: #413C49;
            margin-top: 20px;
            padding-bottom: 13px;
        }

        .error{
            color: red;
            font-weight: 600;
        }

        .has-error ul{
            color: red;
            list-style-type: none;
            padding-left: 0;
            padding-top: 5px;
            font-style: italic;
        }

        .btn-lg{
            color: #fff;
            margin: auto;
            margin-top: 30px;
        }
    </style>
{% endblock %}