{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    {#{ dump(form) }#}

    {# Titre de la page #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Listing - Produits</h1>
        </div>
    </div>

    {# Barre de recherche #}
    {{ include('helpers/form/_search.html.twig', { 
                'fields':     ['product_ref', 'product_category', 'product_name'] }) }}

    <div class="row alert alert-warning" role="alert">
        <div class="col-xs-9 col-sm-10"></div>

        <div class="col-xs-3 col-sm-2">
            <a href="{{ path('app_product_add') }}" role="button" class="btn btn-info text-right">
                {{ include('helpers/icon/_fa.html.twig', {'icon': 'plus'}) }} Ajouter
            </a>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Référence</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Créé le</th>
                    <th scope="col">Modifié le</th>
                    <th scope="col">{# Bouton d'action #}</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <th scope="row">
                        {{ product.id }}
                    </th>
                    <td>
                        {{ product.reference }}
                    </td>
                    <td>
                        {{ product.name }}
                    </td>
                    <td>
                        {{ product.category.name }}
                    </td>
                    <td>
                        {{ product.quantity }}
                    </td>
                    <td>
                        {{ product.price | replace({'.': ','}) }} €
                    </td>
                    <td>
                        {{ product.createdAt | date("d-m-Y à H:i:s") }}
                    </td>
                    <td>
                        {{ product.updatedAt | date("d-m-Y à H:i:s") }}
                    </td>
                    <td>
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}" role="button" class="btn btn-info">Modifier</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}