{# templates/emails/account_update.html.twig #}
<meta charset="UTF-8">

Bonjour <strong>{{ user.firstName ~ ' ' ~ user.name }}</strong>, <br />

<p>Votre solde a été mis à jour. Il s'élève désormais à {{ user.account }} €.

{% if is_granted('ROLE_VENDEUR') %}
Vous pouvez dès à présent vous <a href="{{ url('app_login') }}">connecter</a>.
{% else %}
Rendez-vous sur l'application pour vous connecter.
{% endif %}

</p>

<p>Merci de votre confiance !</p>

L'équipe SupMarket !
