{# templates/emails/order_confirmation.html.twig #}
{% set total_all = 0 %}
<meta charset="UTF-8">

Bonjour <strong>{{ user.firstName ~ ' ' ~ user.name }}</strong>, <br />

<p>Voici le récapitulatif de votre commande N°<strong>{{ order.reference }}</strong> : </p>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix Unitaire</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            {% set total = product['product'].price * product['quantity'] %}
            {% set total_all = total_all + total %}
            <tr>
                <td>
                    {{ product['product'].name }}
                </td>
                <td>
                    {{ product['quantity'] }}
                </td>
                <td>
                    {{ product['product'].price | replace({'.': ','}) }} €
                </td>
                <td>
                    {{ total | replace({'.': ','}) }} €
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td></td>
                <td></td>
                <td>
                    <strong>TOTAL À PAYER</strong>
                </td>
                <td>
                    {{ total_all }} €
                </td>
            </tr>
        </tbody>
    </table>
</div>

<p>Merci de votre confiance !</p>

L'équipe SupMarket !
