{# templates/emails/registration.html.twig #}
<meta charset="UTF-8">

Bonjour <strong>{{ user.firstName ~ ' ' ~ user.name }}</strong>, <br />

<p>Votre compte {{ user.username }} a été créé avec succès. 

{% if is_granted('ROLE_VENDEUR') %}
Vous pouvez dès à présent vous <a href="{{ url('app_login') }}">connecter</a>.
{% else %}
Rendez-vous sur l'application pour vous connecter.
{% endif %}

</p>

<p>Merci de votre confiance !</p>

L'équipe SupMarket !
