{# templates/emails/request_password.html.twig #}
<meta charset="UTF-8">

Bonjour <strong>{{ user.firstName ~ ' ' ~ user.name }}</strong>, <br />

<p>Vous avez effectué une demande de changement de mot de passe. Pour cela, cliquer sur <a href="{{ absolute_url(path('reset_password', {'token': user.passwordToken})) }}" target="_blank">ce lien</a> .</p>
<br/>
Si le lien ne fonctionne pas, copiez-collez ceci dans votre navigateur : <br/>

<p>{{ absolute_url(path('reset_password', {'token': user.passwordToken})) }}</p>

<p>Nous restons à votre disposition si besoin ! 😊</p>

<b>L'équipe SupMarket !</b>
