{# templates/emails/reset_password_success.html.twig #}
<meta charset="UTF-8">

Bonjour <strong>{{ user.firstName ~ ' ' ~ user.name }}</strong>, <br />

<p>Votre mot de passe a été modifié avec succès. Vous pouvez dès à présent vous <a href="{{ url('app_login') }}" target="_blank">connecter</a> .</p>

<p>Nous restons à votre disposition si besoin ! 😊</p>

<b>L'équipe SupMarket !</b>
