<!DOCTYPE html>
<html>
    <head>
        <!-- Titre -->
        <title>SupMarket - {% block title %}{% endblock %}</title>

        <!-- Meta -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Supmarket, le supermarché 4.0 !">
        <meta name="author" content="Aurel Landry KENGNI NKONGTCHOU">

        <!-- Logo de l'application -->
        <link rel="shortcut icon" href="{{ asset('images/supmarket.png') }}">
        
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{{ asset('css/metisMenu.min.css') }}" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="{{ asset('css/timeline.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('css/startmin.css') }}" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="{{ asset('css/morris.css') }}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

        <!-- Chart CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

        <style>
            .page-header{
                padding-top: 10px;
            }
        </style>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <!-- Barre de navigation -->
            {{ include('helpers/navbar/_navbar.html.twig', {'nosidebar': false}) }}

            {% if app.user %}
            <div id="page-wrapper">
                <div class="container-fluid">
            {% endif %}

                    {% block body %}{% endblock %}

            {% if app.user %}
                </div>
            </div>
            {% endif %}
            
        </div>

        <!-- jQuery -->
        <script src="{{ asset('js/jquery.min.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{{ asset('js/metisMenu.min.js') }}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('js/startmin.js') }}"></script>

        <!-- Chart.js (Graphiques) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

        <!-- Scripts utiles au bon fonctionnement de l'application. L'ordre est très important ! -->
        {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        #}

        <script>
            $("form div").addClass("form-group");
            $("input").addClass("form-control");
            $("input[type='checkbox']").removeClass("form-control");
        </script>

        {% block javascripts %} {% endblock %}
    </body>
</html>
