{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {# Titre de la page #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Accueil</h1>
        </div>
    </div>

    <div class="container-fluid">
        <p>
            Bonjour {{ app.user.firstName ? app.user.firstName : app.user.username  }}, voici quelques chiffres clés
            du jour !
        </p>

        <br/><br/>

        <div class="row">
            <div class="col-md-12">
                <canvas id="bar-chart"></canvas>
            </div>
        </div>

        <br/><br/><hr/>
            
        <div class="row">
            <div class="col-lg-12">
                <canvas id="donut-chart"></canvas>
            </div>
        </div>

    </div>

    <style>
        .body{
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 30px 30px 30px 30px;
            margin-top: 90px;
        }

        .page-header{
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        // ------------- Nombre de commandes par catégories ---------------
        var categs = [];
        {% for cat in cats %}
            categs.push('{{ cat }}');
        {% endfor %}

        var numbers = [];
        {% for nb in nbrs %}
            numbers.push({{ nb }});
        {% endfor %}

        let currY = new Date().getFullYear();
        let myBar = document.getElementById('bar-chart').getContext('2d');

        let barChart = new Chart(myBar, {
            type: 'doughnut',
            data: {
                labels: categs,
                datasets: [{
                    label: 'Commandes',
                    data: numbers,
                    backgroundColor: [
                        'green',
                        'red',
                        'yellow',
                        'pink',
                        'grey',
                        'blue',
                        'purple'
                    ]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Nombre de commandes par catégories'
                }
            }
        });



        // ------------- Nombre de commandes par client ---------------
        var users = [];
        {% for user in user_list %}
            users.push('{{ user }}');
        {% endfor %}

        var numbers2 = [];
        {% for nb in nb_order %}
            numbers2.push({{ nb }});
        {% endfor %}

        console.log(numbers2);

        let myBar2 = document.getElementById('donut-chart').getContext('2d');

        let donutChart = new Chart(myBar2, {
            type: 'doughnut',
            data: {
                labels: users,
                datasets: [{
                    label: 'Commandes',
                    data: numbers2,
                    backgroundColor: [
                        'pink',
                        'grey',
                        'yellow',
                        'blue',
                        'green',
                        'purple',
                        'red',
                    ]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Nombre de commandes par client'
                }
            }
        });
    </script>
{% endblock %}
