{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
    {#{ dump(form) }#}

    {# Titre de la page #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Listing - Commandes</h1>
        </div>
    </div>

    {# Barre de recherche #}
    {{ include('helpers/form/_search.html.twig', { 
                'fields':     ['order_ref'] }) }}

    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Référence</th>
                    <th scope="col">Prix Total</th>
                    <th scope="col">Créé le</th>
                    <th scope="col">Modifié le</th>
                    <th scope="col">{# Bouton d'action #}</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <th scope="row">
                        {{ order.id }}
                    </th>
                    <td>
                        {{ order.reference }}
                    </td>
                    <td>
                        {{ order.totalTtc | replace({'.': ','}) }} €
                    </td>
                    <td>
                        {{ order.createdAt | date("d-m-Y à H:i:s") }}
                    </td>
                    <td>
                        {{ order.updatedAt | date("d-m-Y à H:i:s") }}
                    </td>
                    <td>
                        <a href="{{ path('app_order_detail', {'ref': order.reference}) }}" role="button" class="btn btn-info">Détails</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}