{% extends 'base.html.twig' %}

{% set total_all = 0 %}

{% block title %}Commandes{% endblock %}

{% block body %}

    {# Titre de la page #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Détails - Commande N°{{ order.reference }}</h1>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Référence produit</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix Unitaire</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {#{ dump(order) }#}
                {% for product in products %}
                {% set total = product['product'].price * product['quantity'] %}
                {% set total_all = total_all + total %}
                <tr>
                    <td>
                        {{ product['product'].reference }}
                    </td>
                    <td>
                        {{ product['product'].name }}
                    </td>
                    <td>
                        {{ product['quantity'] }}
                    </td>
                    <td>
                        {{ product['product'].price | replace({'.': ','}) }} €
                    </td>
                    <td>
                        {{ total | replace({'.': ','}) }} €
                    </td>
                </tr>
                {% endfor %}

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <strong>TOTAL À PAYER</strong>
                    </td>
                    <td>
                        <strong>{{ total_all }} €</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}