{% extends 'bundles/TwigBundle/Exception/base_error.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 style="color: #413C49; font-size: 8vw">Accès refusé !</h1><br/>
        <p>Il semble que vous n'avez pas les droits nécessaires pour accéder à cette page.</p><br/><br/>

        <a class="btn" style="background-color: #FF5733; color: #ffffff" href="{{ path('app_index') }}">Retour à l'accueil</a>
    </div>

    <style>
        .container{
            padding: 30px 30px 30px 30px;
            margin-top: 90px;
        }

        body{
            font-family: Verdana, Geneva, sans-serif;;
        }
    </style>
{% endblock %}
