{% extends 'bundles/TwigBundle/Exception/base_error.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 style="color: #413C49; font-size: 8vw">Oops ! Erreur 404.</h1><br/>
        <p>La page que vous avez demandé est introuvable.</p><br/><br/>

        <a class="btn" style="background-color: #FF5733; color: #ffffff" href="{{ path('app_index') }}">Retour à l'accueil</a>
    </div>

    <style>
        .container{
            padding: 30px 30px 30px 30px;
            margin-top: 90px;
        }

        body{
            font-family: Verdana, Geneva, sans-serif;;
        }
    </style>
{% endblock %}
