{% extends 'base.html.twig' %}

{% block title %}Documentation API{% endblock %}

{% block body %}
    {# Titre de la page #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">API - Documentation</h1>
        </div>
    </div>

    <div class="container-fluid">
        <p>Il existe plusieurs méthodes pour API :</p>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h4>CONNEXION</h4>
                <br />

                <p>
                    Pour se connecter, il faut effectuer une requête HTTPS en <b>POST</b> à l'url suivante : <b><i>{{ url('api_login_check') }}</i></b>
                    <br/><br/>

                    Les paramètres à passer à l'url sont <b>'username'</b> (nom d'utilisateur) et <b>'password'</b> (mot de passe <b>en clair</b>).
                    Les résultats sont retournés sous forme de JSON. 
                    
                    <br/><br/> 
                    En cas de succès, un token vous est retourné sous la forme : 
                    <p class="alert alert-success">{"token": <i>votre_token_a_conserver</i>}</p> 
                    
                    En cas d'échec, vous recevez un JSON sous cette forme : 
                    <p class="alert alert-danger">{"code":401, "message":"Invalid credentials."}</p>

                    <br/>
                    Exemple (requête en POST à exécuter dans le terminal sous MacOS ou Linux) :  <b>curl -X POST -H "Content-Type: application/json" {{ url('api_login_check') }} -d '{"username":"johndoe","password":"test"}'</b>.

                    <br/><br/>
                    <p class="alert alert-info">
                        <i class="fa fa-info-circle fa-fw"></i>&nbsp; 
                        <b>Un token reste valide 9 semaines !</b>
                    </p>
                    
                    {# <p class="alert alert-warning">
                        <i class="fas fa-exclamation-triangle"></i>&nbsp; Pour appeler les méthodes suivantes de l'API, il faudra spécifier le token dans les en-têtes HTTP en spécifiant
                        un <i>Authorization Bearer</i>.<br/>
                        Exemple : curl -X POST -H "Content-Type: application/json" -H "Authorization: Bearer <b><i>notre_token</i></b>" {{ url('api_user_info') }} <br/><br/>
                        Pour faire cela en JS, des informations utiles sont disponibles <a href="https://wp-oauth.com/docs/how-to/using-a-bearer-token-with-wp-rest-api/">sur ce site</a>.
                    </p> #}
                </p>
            </li>

            <li class="list-group-item">
                <h4>INSCRIPTION</h4>
                <br />

                <p>
                    Pour s'inscrire, il faut effectuer une requête HTTPS en <b>POST</b> à l'url suivante : <b><i>{{ url('api_register') }}</i></b>
                    <br/><br/>

                    Les paramètres à passer à l'url sont : <b>'username'</b> (nom d'utilisateur), <b>'password'</b> (mot de passe <b>en clair</b>),
                    <b>'name'</b> (Nom), <b>'first_name'</b> (prénom), et <b>'email'</b> (Email).
                    Les résultats sont retournés sous forme de JSON. 
                    
                    <br/><br/>
                    En cas de succès, un message vous est retourné sous la forme : 

                    <p class="alert alert-success">{"code": 200, "message":"User created succesfully !"}</p> 
                    
                    Si l'utilisateur existe déjà, vous recevez un JSON sous cette forme : <p class="alert alert-danger">{"code": 401, "message":"This user already exists"}</p>

                    <br/>
                    Exemple (requête en POST à exécuter dans le terminal sous MacOS ou Linux) :  <b>curl -X POST -H "Content-Type: application/json" {{ url('api_register') }} -d '{"username":"johndoe", "password":"test",
                    "name":"John", "first_name":"Doe", "email":"johndoe@supmarket.fr"}'</b>.
                    
                    <br/><br/>
                    <p class="alert alert-warning">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; Pour appeler les méthodes suivantes de l'API, il faudra spécifier le token dans les en-têtes HTTP en spécifiant
                        un <i>Authorization Bearer</i>.<br/>
                        Exemple : curl -X POST -H "Content-Type: application/json" -H "Authorization: Bearer <b><i>notre_token</i></b>" {{ url('api_user_info') }} <br/><br/>
                        Pour faire cela en JS, des informations utiles sont disponibles <a href="https://wp-oauth.com/docs/how-to/using-a-bearer-token-with-wp-rest-api/">sur ce site</a>.
                    </p>
                </p>
            </li>

            <li class="list-group-item">
                <h4>INFORMATIONS DU COMPTE</h4>
                <br />

                <p>
                    Pour récupérer les informations du compte utilisateur authentifié, il faut effectuer 
                    une requêtre HTTPS en <b>GET</b> à l'url suivante : <b><i>/api/user</i></b>
                    <br/><br/>

                    Il n'y a aucun paramètre à passer.
                    Les résultats sont retournés sous forme de JSON. 
                    
                    <br/><br/>
                    En cas de succès, vous recevez un JSON sous cette forme : 

                    <p class="alert alert-success">{"username": <i style="color: #FF5733">nom_d_utilisateur</i>, "name": <i style="color: #FF5733">nom</i>, "first_name": <i style="color: #FF5733">prenom</i>, "email": <i style="color: #FF5733">email</i>}</p>

                    Exemple (requête en GET à exécuter dans le terminal sous MacOS ou Linux) :  <b>curl -X GET -H "Content-Type: application/json"  -H "Authorization: Bearer <i style="color: #FF5733">notre_token</i>" {{ url('api_user_info') }}</b>
                </p>
            </li>

            <li class="list-group-item">
                <h4>CATALOGUE DE PRODUITS</h4>
                <br />

                <p>
                    Pour récupérer le catalogue de produits, il faut effectuer 
                    une requêtre HTTPS en <b>GET</b> à l'url suivante : <b><i>/api/products</i></b>
                    <br/><br/>

                    Il n'y a aucun paramètre à passer.
                    Les résultats sont retournés sous forme de JSON. 
                    
                    <br/><br/>
                    En cas de succès, vous recevez un JSON sous cette forme : 

                    <p class="alert alert-success">{ "code": <i style="color: #FF5733">code_http</i>, "message": <i style="color: #FF5733">message</i>, "products": <i style="color: #FF5733">liste_de_produits</i> }</p>

                    Exemple (requête en GET à exécuter dans le terminal sous MacOS ou Linux) :  <b>curl -X GET -H "Content-Type: application/json"  -H "Authorization: Bearer <i style="color: #FF5733">notre_token</i>" {{ url('api_products') }}</b>
                </p>
            </li>

            <li class="list-group-item">
                <h4>MISE À JOUR INFORMATIONS DE PAIEMENT</h4>
                <br />

                <p>
                    Pour mettre à jour les informations de paiement d'un utilisateur, il faut effectuer 
                    une requêtre HTTPS en <b>POST</b> à l'url suivante : <b><i>/api/user/card/update</i></b>
                    <br/><br/>

                    Les paramètres à passer sont <i><b>card_number</b> (numéro de carte)</i>, <i><b>card_expiration</b> (Date d'expiration)</i>,
                    <i><b>card_cvv</b> (CVV - 3 chiffres au dos de la carte)</i>.
                    Les résultats sont retournés sous forme de JSON. 
                    
                    <br/><br/>
                    En cas de succès, un message vous est retourné sous la forme : 

                    <p class="alert alert-success">{"code": <i style="color: #FF5733">200</i>, "message": <i style="color: #FF5733">Informations bancaires mises à jour</i>}</p>

                    Exemple (requête en POST à exécuter dans le terminal sous MacOS ou Linux) :  <b>curl -X POST -H "Content-Type: application/json"  -H "Authorization: Bearer <i style="color: #FF5733">notre_token</i>" {{ url('api_user_card_update') }} 
                    -d '{"card_number":"0000111122223333", "card_expiration":"12/05/2021", "card_cvv":"110"}'</b>
                </p>
            </li>

            <li class="list-group-item">
                <h4>MISE À JOUR DU SOLDE</h4>
                <br />

                <p>
                    Pour mettre à jour le solde de l'utilisateur, il faut effectuer 
                    une requêtre HTTPS en <b>POST</b> à l'url suivante : <b><i>/api/user/account/add</i></b>
                    <br/><br/>

                    Le paramètre à passer est <i><b>amount</b> (montant à ajouter)</i>.
                    Les résultats sont retournés sous forme de JSON. 
                    
                    <br/><br/>
                    En cas de succès, un message vous est retourné sous la forme : 

                    <p class="alert alert-success">{"code": <i style="color: #FF5733">200</i>, "message": <i style="color: #FF5733">Solde mis à jour</i>}</p>

                    Exemple (requête en POST à exécuter dans le terminal sous MacOS ou Linux) :  <b>curl -X POST -H "Content-Type: application/json"  -H "Authorization: Bearer <i style="color: #FF5733">notre_token</i>" {{ url('api_user_account_add') }} 
                    -d '{"amount":"300"}'</b>
                </p>
            </li>

            <li class="list-group-item">
                <h4>ACHAT D'ARTICLES</h4>
                <br />

                <p>
                    Pour permettre à l'utilisateur d'acheter, il faut effectuer 
                    une requêtre HTTPS en <b>POST</b> à l'url suivante : <b><i>/api/order/buy</i></b>
                    <br/><br/>

                    Le paramètres à passer sont <i><b>references</b> (liste des références des articles)</i>,
                    <i><b>quantities</b> (liste des quantités de chaque article dans le même ordre que la liste des reférences. L'ordre est important ici)</i>.
                    Les résultats sont retournés sous forme de JSON. 
                    
                    <br/><br/>
                    En cas de succès, un message vous est retourné sous la forme : 

                    <p class="alert alert-success">{"code": <i style="color: #FF5733">200</i>, "message": <i style="color: #FF5733">OK ! Achat effectué</i>}</p>

                    Exemple (requête en POST à exécuter dans le terminal sous MacOS ou Linux) :  <b>curl -X POST -H "Content-Type: application/json"  -H "Authorization: Bearer <i style="color: #FF5733">notre_token</i>" {{ url('api_order_buy') }} 
                    -d '{"references":[<i>ref_article_1</i>, <i>ref_article_2</i>, etc...], "quantity":[<i>qte_article_1</i>, <i>qte_article_2</i>, etc...]}'</b>
                </p>
            </li>

            <li class="list-group-item">
                <h4>LISTE DE COMMANDE</h4>
                <br />

                <p>
                    Pour obtenir la liste de commandes d'un utilisateur, il faut effectuer 
                    une requêtre HTTPS en <b>GET</b> à l'url suivante : <b><i>/api/order/list</i></b>
                    <br/><br/>

                    Aucun paramètre à passer.
                    
                    <br/><br/>
                    En cas de succès, un message vous est retourné sous la forme : 

                    <p class="alert alert-success">{"code": <i style="color: #FF5733">200</i>, "references": <i style="color: #FF5733">liste_de_references</i>}</p>

                    Exemple (requête en GET à exécuter dans le terminal sous MacOS ou Linux) :  <b>curl -X GET -H "Content-Type: application/json"  -H "Authorization: Bearer <i style="color: #FF5733">notre_token</i>" {{ url('api_order_list') }}</b>
                </p>
            </li>

            <li class="list-group-item">
                <h4>DÉTAILS D'UNE COMMANDE</h4>
                <br />

                <p>
                    Pour obtenir le détail d'une commande d'un utilisateur, il faut effectuer 
                    une requêtre HTTPS en <b>GET</b> à l'url suivante : <b><i>/api/order/get/{reference_commande}</i></b>
                    <br/><br/>

                    Aucun paramètre à passer, si ce n'est la variable <i style="color: #FF5733">reference_commande</i>
                    à remplacer par la référence de la commande dont il est question.
                    
                    <br/><br/>
                    En cas de succès, un message vous est retourné sous la forme : 

                    <p class="alert alert-success">{"code": <i style="color: #FF5733">200</i>, "order": { "reference": <i style="color: #FF5733">reference_commande</i>,
                    "total": <i style="color: #FF5733">total_commande</i>, "product_names": <i style="color: #FF5733">liste_noms_produits_achetés</i>,
                    "product_quantities": <i style="color: #FF5733">liste_quantités_respectives_achetées</i>, "product_prices": <i style="color: #FF5733">liste_prix_respectifs</i> }</p>

                    Exemple (requête en GET à exécuter dans le terminal sous MacOS ou Linux) :  <b>curl -X GET -H "Content-Type: application/json"  -H "Authorization: Bearer <i style="color: #FF5733">notre_token</i>" {{ url('api_order_get', {'ref': 12345678}) }}</b>
                </p>
            </li>
        </ul>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        h4{
            color: #FF5733;
        }
    </style>
{% endblock %}
