{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h2><i class="fas fa-sync"></i> &nbsp;&nbsp;Changement de mot de passe</h2>
        <hr />

        <form method="post">
            {% if success %}
                <div class="alert alert-success">{{ success }}</div>
            {% elseif error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <div class="form-group" style="margin-top: 20px">
                <label for="inputUsername">Entrez votre nom d'utilisateur :</label>
                <input type="text" name="username" id="inputUsername" class="form-control" required autofocus>
            </div>
            
            <div class="form-group" style="margin-bottom: 20px; text-align: center">
                <button class="btn btn-lg" style="background-color: #ddd; color: #413C49; margin: auto" type="submit">
                    Envoyer Email
                </button>
            </div>
            
        </form>
    </div>

    <style>
        .container{
            width: 50%;
            border: 1px solid #ddd;
            padding-top: 13px;
            border-radius: 10px;
            background-color: #F9F9FA;
            color: #413C49;
            margin-top: 90px;
        }
    </style>
{% endblock %}
