{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <div class="container text-center">
        <h2><i class="fa fa-check fa-fw"></i>&nbsp;&nbsp; Votre mot de passe a été modifié avec succès.</h2>

        <br/><br/>

        <a class="btn" style="background-color: #FF5733; color: #ffffff" href="{{ path('app_login') }}">Identifiez-vous</a>
    </div>

    <style>
        .container{
            padding: 30px 30px 30px 30px;
            margin-top: 90px;
        }

        body{
            font-family: Verdana, Geneva, sans-serif;;
        }
    </style>
{% endblock %}
