{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h2><i class="fas fa-sync"></i> &nbsp;&nbsp;Changement de mot de passe</h2>
        <hr />

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <div class="form-group">
                <label for="password">Nouveau mot de passe</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirmez le nouveau mot de passe</label>
                <input type="password" name="confirm-password" id="confirm-password" class="form-control" required>
            </div>
            
            <div class="form-group" style="margin-bottom: 20px;  text-align: center">
                <button class="btn btn-lg" style="background-color: #ddd; color: #413C49; margin: auto" type="submit">
                    Enregistrer
                </button>
            </div>
            
        </form>
    </div>

    <style>
        .container{
            width: 50%;
            border: 1px solid #ddd;
            padding-top: 13px;
            border-radius: 10px;
            background-color: #F9F9FA;
            color: #413C49;
            margin-top: 90px;
        }
    </style>
{% endblock %}
